include LICENSE NOTICE THIRD_PARTY.md README.md requirements.txt
recursive-include docs *.md
recursive-include src/resources *.json *.png *.svg *.ico *.icns *.qm *.qss
recursive-include src *.ui
global-exclude *.py[cod]
